/** light theme **/

$light-background-color: #fff;

$light-font-color: #161209;
$light-font-secondary-color: #a9a9b3;

$light-navbar-active-color: #161209;

$light-global-link-color: #161209;
$light-global-link-hover-color:#2d96bd;

$light-post-link-color: #2d96bd;
$light-post-link-hover-color:#ef3982;

$light-pagination-link-color : #2d96bd;
$light-pagination-link-active-color: #000;

$light-border-color: #dcdcdc;



/** dark theme **/

$dark-background-color: #292a2d;

$dark-font-color: #e9e9f3;
$dark-font-secondary-color: #c7c7cd;

$dark-navbar-active-color: #fff;

$dark-global-link-color: #e9e9f3;
$dark-global-link-hover-color:#ffffd0;

$dark-post-link-color: #c9b9f3;
$dark-post-link-hover-color:#c9b9f3;

$dark-pagination-link-color : #a9a9b3;
$dark-pagination-link-active-color: #fff;

$dark-border-color: #4a4b50;
