  /** Layout **/
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
  }
  
  .navbar {
    height: 4rem;
    line-height: 4rem;
    width: 100%;
    .container {
      width: auto;
      max-width: 1200px;
      text-align: center;
      margin: 0 auto;
      display: flex;
      justify-content: space-between; 
    }
  }
  
  .main {
    flex: 1 0 auto;
  }
  .container{
    padding-left: 1em;
    padding-right: 1em;
  }
  
  .footer {
    height: 4rem;
    width: 100%;
    text-align: center;
    line-height: 4rem;
    padding-top: 2em;
  }
  
  
  .notfound {
    font-size: 2em;
    transform: translateY(35vh);
    text-align: center;
  }
