<footer class="footer">
    <div class="copyright">
        &copy;
        {{ with .Site.Params.since }}
        <span itemprop="copyrightYear">{{.}} - {{ now.Year }}</span>
        {{ end }}
         {{ if .Site.Params.author }}
            <span class="author" itemprop="copyrightHolder"><a href="{{ .Site.BaseURL }}">{{ .Site.Params.author  }}</a> | </span>
         {{ end }}

		  <span>Built with <a href="https://gohugo.io/" target="_blank" rel="external nofollow noopener noreffer">Hugo</a> | </span>
      <span>Based on <a href="https://github.com/Fastbyte01/KeepIt" target="_blank" rel="external nofollow noopener noreffer">KeepIt</a></span>
    </div>
</footer>

{{ partial "js.html" . }}
