<div class="intro">
    {{ $cdn_url := .Scratch.Get "cdn_url" }}
    {{ with .Site.Params.avatar}}
    {{ $avatar := .}}
   <div class="avatar">
        <a href="{{ .Site.Params.DefaultPage }}"> <img src="{{ (printf "%s%s" $cdn_url $avatar)}}"> </a>
    </div>
    {{ end }}
    {{ if or .Params.gravatar.Email (and .Site.Params.gravatar.Email (ne .Params.gravatar.Email false)) }}
    <div class="avatar">
			<a href="{{ .Site.Params.DefaultPage }}">	<img src="https://www.gravatar.com/avatar/{{ md5 .Site.Params.gravatar.email }}?s=240&d=mp" alt="gravatar"> </a>
		</div>
		{{ end }}
    {{ with .Site.Params.subtitle}}
    <h2 class="description" style="font-size:large">
      <big>{{ . }}</big>
    {{ with $.Site.Params.subtitle_additional}}
      <br/>
      {{ . }}
    {{ end }}
    </h2>
    {{ end }}
    <div class="social-links" style="margin-top:10px">
      {{ partial "social.html" . }}
  
    </div>
</div>
